<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                      <KeyName>Rsa Key</KeyName>
                  </KeyInfo>
                  <CipherData>
                      <CipherValue>ONIR91y9P2aufNKMLupyS3DGQHA+2OQatuRn/41qh8zUEv14tjeaO7DEsmRE6iCKTg/X7ToWuSdO4AE0Sq+82egzALgJCNXvJ9KV28T+DUdR6VAqtc5vcvQ288CbCnyVXRB8OnxZpTUxIgIX8NqUoKwc3+hFeSmAayZ8+qnmk+GRh48bNE5VaPMdlm751ptm22mdwvOCKsczrh3gvMlxVPUdwJN85zyJypsRzoYqFRvIKcmp7pTaVN1nflusBrMKORgCeykY4NMBsGjSwkYg9Adf8CnKSxcAj70Bkbnk0yOYDTfJnri7tbTwREukIDT7AsI5Gz+TNl23xs+jz194AA==</CipherValue>
                  </CipherData>
              </EncryptedKey>
          </KeyInfo>
          <CipherData>
              <CipherValue>0n3kgH1Lk7u6HXvpBshiTDd4S8GK9de/UxA/QeSpyEk4InbbKwJWhIgIONsu7S04s+K9uOzS87dc1xrqB8u52TEhI/UxKkIeRlLG64TFhyyEj8Dgx/ZFIA6vsC8U4loWH131+OJE3KnngK/R7h/sLMyJwfin54XoZFdmlWd7k1XVdGBHUq+wVB2eYbeZ22NaZbqYSBnD3CvlNqKNodcTVul5mjyQe9qn5Ze3ta7hRRahhZtZKJSKjm73xmZKRx70v/XCDRq/vYmLhI1fPUFHyaFsDDAxUQqc</CipherValue>
          </CipherData>
      </EncryptedData>
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
